/*
 *	Plugin Name: WP Tiles WUD
*/

@import url("wp-tiles-wud-base.css");

#wp-tiles-wud-wrapper-1 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	font-size: 24px; 
	font-size: 1.6vw;
}
#wp-tiles-wud-wrapper-2 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#wp-tiles-wud-wrapper-3 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#wp-tiles-wud-wrapper-4 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#wp-tiles-wud-wrapper-5 {
    width: 50%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
}
#wp-tiles-wud-wrapper-6 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#wp-tiles-wud-wrapper-7 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#wp-tiles-wud-wrapper-8 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#wp-tiles-wud-wrapper-9 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#wp-tiles-wud-wrapper-10 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#wp-tiles-wud-wrapper-11 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#wp-tiles-wud-wrapper-12 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#wp-tiles-wud-wrapper-13 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#wp-tiles-wud-wrapper-14 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}
#wp-tiles-wud-wrapper-15 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;		
}
#wp-tiles-wud-wrapper-16 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#wp-tiles-wud-wrapper-17 {
    width: 24.5%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;	
	}
#wp-tiles-wud-wrapper-18 {
    width: 24%;
	height: 0;	
	padding-bottom: 24%;
	margin-left: 0.9%;
	margin-bottom: 0.5%;	
	font-size: 22px; 
	font-size: 1.4vw;
	}	
#wp-tiles-wud-wrapper-19 {
    width: 49.5%;
	height: 0;	
	padding-bottom: 24%;
	font-size: 24px; 
	font-size: 1.6vw;
	}	
#wp-tiles-wud-wrapper-20 {
	margin-left: 0.9%;
    width: 49.4%;
	height: 0;	
	padding-bottom: 24%;
	font-size: 24px; 
	font-size: 1.6vw;
	}
